<RadzenCard>
	<EditForm Model="@MedicoRequestDto" OnValidSubmit="OnSubmit">
		<DataAnnotationsValidator />
		<div class="mb-3">
			<RadzenLabel Text="Nombres" />
			<div class="mt-1">
				<RadzenTextBox @bind-Value="MedicoRequestDto.Nombre" class="w-100" />
				<ValidationMessage For="() => MedicoRequestDto.Nombre" />
			</div>
		</div>
		<div class="mb-3">
			<RadzenLabel Text="Apellidos" />
			<div class="mt-1">
				<RadzenTextBox @bind-Value="MedicoRequestDto.Apellidos" class="w-100" />
				<ValidationMessage For="() => MedicoRequestDto.Apellidos" />
			</div>
		</div>
		<div class="mb-3">
			<RadzenLabel Text="Cédula" />
			<div class="mt-1">
				<RadzenTextBox @bind-Value="MedicoRequestDto.Cedula" class="w-100" />
				<ValidationMessage For="() => MedicoRequestDto.Cedula" />
			</div>
		</div>
		<div class="mb-3">
			<RadzenLabel Text="Teléfono de contacto" />
			<div class="mt-1">
				<RadzenTextBox @bind-Value="MedicoRequestDto.PhoneNumber" class="w-100" />
				<ValidationMessage For="() => MedicoRequestDto.PhoneNumber" />
			</div>
		</div>
		<div class="mb-3">
			<RadzenLabel Text="Especialidades" />
			<div class="mt-1">
				@if (_especialidades is not null)
				{
					<RadzenDropDown AllowClear="true" Style="width: 100%" Data="@_especialidades" AllowVirtualization="true"
					Placeholder="Seleccione" Change="@SelectEspecialidad" TextProperty="NombreEspecialidad"
					ValueProperty="Id" Multiple="true" AllowFiltering="true" TValue="IEnumerable<string>"
					Value="_especialidadesIds" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
				}
				else
				{
					<span>Cargando...</span>
				}
			</div>
		</div>
		<div class="mb-2">
			<FormButtons NavLinkRoute="medicoList" />
		</div>
	</EditForm>
</RadzenCard>