@using MedicDate.API.DTOs.Common
<RadzenCard>
	<EditForm Model="@PacienteRequestDto" OnValidSubmit="OnSubmit">
		<DataAnnotationsValidator />

		<div class="d-flex flex-column justify-content-end mb-3">
			<RadzenLabel Text="Num. Historia" class="text-secondary mr-0 mr-md-3"
						 Style="font-weight: 700" />

			<RadzenTextBox @bind-Value="PacienteRequestDto.NumHistoria" class="mt-1 mt-md-0" Min="1" />
			<ValidationMessage For="() => PacienteRequestDto.NumHistoria" />
		</div>

		<div class="row">
			<div class="col-lg-6 col-auto mb-3">
				<RadzenLabel Text="Nombres" />
				<div class="mt-1">
					<RadzenTextBox @bind-Value="PacienteRequestDto.Nombres" class="w-100" />
					<ValidationMessage For="() => PacienteRequestDto.Nombres" />
				</div>
			</div>
			<div class="col-lg-6 col-auto mb-3">
				<RadzenLabel Text="Apellidos" />
				<div class="mt-1">
					<RadzenTextBox @bind-Value="PacienteRequestDto.Apellidos" class="w-100" />
					<ValidationMessage For="() => PacienteRequestDto.Apellidos" />
				</div>
			</div>
			<div class="col-lg-6 col-auto mb-3">
				<RadzenLabel Text="Sexo" />
				<div class="mt-1">
					<RadzenDropDown TValue="string" Data="SexoListDropDownDto.SexoList" ValueProperty="Sexo" TextProperty="Sexo" class="w-100" Placeholder="Seleccione" @bind-Value="PacienteRequestDto.Sexo" />

					<ValidationMessage For="() => PacienteRequestDto.Sexo" />
				</div>
			</div>
			<div class="col-lg-6 col-auto mb-3">
				<RadzenLabel Text="Fecha de Nacimiento" />
				<div class="mt-1">
					<RadzenDatePicker @bind-Value="PacienteRequestDto.FechaNacimiento"
									  class="w-100" DateFormat="d" TValue="DateTime" />
					<ValidationMessage For="() => PacienteRequestDto.FechaNacimiento" />
				</div>
			</div>
			<div class="col-lg-6 col-auto mb-3">
				<RadzenLabel Text="Cédula" />
				<div class="mt-1">
					<RadzenTextBox @bind-Value="PacienteRequestDto.Cedula" class="w-100" />
					<ValidationMessage For="() => PacienteRequestDto.Cedula" />
				</div>
			</div>
			<div class="col-lg-6 col-auto mb-3">
				<RadzenLabel Text="Email" />
				<div class="mt-1">
					<RadzenTextBox @bind-Value="PacienteRequestDto.Email" class="w-100" />
					<ValidationMessage For="() => PacienteRequestDto.Email" />
				</div>
			</div>
			<div class="col-lg-6 col-auto mb-3">
				<RadzenLabel Text="Teléfono de contacto" />
				<div class="mt-1">
					<RadzenTextBox @bind-Value="PacienteRequestDto.Telefono" class="w-100" />
					<ValidationMessage For="() => PacienteRequestDto.Telefono" />
				</div>
			</div>
			<div class="col-lg-6 col-auto mb-3">
				<RadzenLabel Text="Grupos" />
				<div class="mt-1">
					@if (_grupos is not null)
					{
						<RadzenDropDown AllowClear="true" Style="width: 100%"
										Data="@_grupos" AllowVirtualization="true"
										Placeholder="Seleccione" Change="@SelectGrupo"
										TextProperty="Nombre" ValueProperty="Id"
										Multiple="true" AllowFiltering="true"
										TValue="IEnumerable<string>" Value="_gruposIds"
										FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
					}
					else
					{
						<span>Cargando...</span>
					}
				</div>
			</div>
			<div class="col-lg-6 col-auto mb-3">
				<RadzenLabel Text="Dirección" />
				<div class="mt-1">
					<RadzenTextArea @bind-Value="PacienteRequestDto.Direccion" class="w-100" MaxLength="300" />

					<ValidationMessage For="() => PacienteRequestDto.Direccion" />
				</div>
			</div>
		</div>
		<div class="mb-2">
			<FormButtons NavLinkRoute="pacienteList" />
		</div>
	</EditForm>
</RadzenCard>