@page "/actividadEditar/{id}"

<h2 class="text-primary mb-2">Editar Actividad</h2>

@if (_actividadModel is null)
{
    <span>Cargando <i class="fas fa-spinner fa-spin"></i></span>
}
else
{
    <ErrorBoundary>
        <CascadingValue Value="_isBussy">
            <ActividadForm ActividadModel="@_actividadModel" OnSubmit="@EditActividad" />
        </CascadingValue>
    </ErrorBoundary>
}