@page "/actividadCrear"

<h2 class="text-radzen-primary mb-2">Crear Actividad</h2>

<CascadingValue Value="_isBussy">
	<ActividadForm ActividadModel="@_actividadModel" OnSubmit="@CreateActividad"/>
</CascadingValue>

