@page "/actividadCrear"

<h2 class="text-primary mb-2">Crear Actividad</h2>

<ErrorBoundary>
  <CascadingValue Value="_isBussy">
    <ActividadForm ActividadModel="@_actividadModel" OnSubmit="@CreateActividad" />
  </CascadingValue>
</ErrorBoundary>
