@page "/medicoEditar/{id}"

<h2 class="text-radzen-primary mb-2">Editar Doctor</h2>

@if (_medicoModel is null)
{
	<span>Cargando <i class="fas fa-spinner fa-spin"></i></span>
}
else
{
	<CascadingValue Value="_isBussy">
		<MedicoForm MedicoRequest="_medicoModel" OnSubmit="EditMedico" />
	</CascadingValue>

}