@using MedicDate.Client.Shared.Layouts
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
  <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        <NotAuthorized>
          @{
            NavigationManager.NavigateTo("login");
          }
        </NotAuthorized>
        <Authorizing>
          <p>Comprobando las credenciales del usuario...</p>
        </Authorizing>
      </AuthorizeRouteView>
    </Found>
    <NotFound>
      <PageTitle>Not found</PageTitle>
      <LayoutView Layout="@typeof(MainLayout)">
        @{
          NavigationManager.NavigateTo("notFound");
        }
      </LayoutView>
    </NotFound>
  </Router>
</CascadingAuthenticationState>