@page "/especialidadCrear"

<h2 class="text-primary mb-2">Crear Especialidad</h2>
<CascadingValue Value="_isBussy">
	<EspecialidadForm EspecialidadModel="@_especialidadModel" OnSubmit="@CreateEspecialidad" />
</CascadingValue>