@page "/especialidadEditar/{id}"

<h2 class="text-radzen-primary mb-2">Editar Especialidad</h2>

@if (_especialidadModel is null)
{
	<span>Cargando <i class="fas fa-spinner fa-spin"></i></span>
}
else
{
	<CascadingValue Value="_isBussy">
		<EspecialidadForm EspecialidadModel="@_especialidadModel" OnSubmit="@EditEspecialidad"/>
	</CascadingValue>
}

