<RadzenPanelMenu>
	<p class="pb-2 mb-0 mx-3 mt-2 border-bottom">
		<AuthorizeView>
			<Authorized>
				<RadzenLabel Text="Menú" />
			</Authorized>
			<NotAuthorized>
				<RadzenLabel Text="Inicie Sesión" />
			</NotAuthorized>
		</AuthorizeView>

	</p>
	<AuthorizeView>
		<Authorized>
			<RadzenPanelMenuItem Text="Inicio" Icon="home" Path="/" class="mt-2">
			</RadzenPanelMenuItem>
			<RadzenPanelMenuItem Text="Doctores" Icon="supervisor_account" Path="/medicoList">
			</RadzenPanelMenuItem>
			<RadzenPanelMenuItem Text="Administrar Doctores" Icon="work">
				<RadzenPanelMenuItem Text="Especialidades" Path="/especialidadList" Icon="psychology" />
			</RadzenPanelMenuItem>
		</Authorized>
	</AuthorizeView>
</RadzenPanelMenu>

@code {
	[CascadingParameter]
	public Task<AuthenticationState> AuthenticationState { get; set; }
	private AuthenticationState _authState;

	protected override async Task OnInitializedAsync()
	{
		_authState = await AuthenticationState;
	}
}
