@inject DialogService _dialogService

<p>¿Está seguro de borrar este registro?</p>
<div class="mt-4">
    <div class="row">
        <div class="col-6">
            <RadzenButton Text="Aceptar" class="w-100" Click="@Eliminar"/>
        </div>
        <div class="col-6">
            <RadzenButton Text="Cancelar" class="w-100" ButtonStyle="@ButtonStyle.Secondary"
                          Click="@(() => _dialogService.Close(false))"/>
        </div>
    </div>
</div>

@code {

	[Parameter]
	public string Id { get; set; }

	[Parameter]
	public EventCallback<string> OnEliminar { get; set; }

    private async Task Eliminar()
    {
        _dialogService.Close(false);
        await OnEliminar.InvokeAsync(Id);
    }

}
