@page "/usuario/changeEmailConfirm"
@inject INotificationService _notificationService
@inject IHttpRepository _httpRepo

<div class="container">
	<h2 class="text-radzen-primary">
		Confirme el cambio de Email
	</h2>
	<p class="mt-2">
		Por favor revise el email de confirmación enviado a su dirección de correo actual. Una vez haga click en el link de confirmación el cambio de email se hará efectivo.
	</p>
</div>


