@page "/usuario/forgotPassword"
@using MedicDate.API.DTOs.Auth
@inject IHttpRepository _httpRepo
@inject NavigationManager _navigationManager
@inject INotificationService _notificationService

<h2 class="text-radzen-primary">Restablecer Contraseña</h2>
<RadzenCard>
	<EditForm Model="@_forgotPasswordModel" OnValidSubmit="OnSubmit">
		<DataAnnotationsValidator />
		<div class="row mb-3">
			<RadzenLabel Text="Ingrese su email" />
			<div class="mt-1">
				<RadzenTextBox @bind-Value="_forgotPasswordModel.Email" class="w-100" />
				<ValidationMessage For="() => _forgotPasswordModel.Email" />
			</div>
		</div>
		<div class="mb-2">
			<FormButtons SaveButtonText="Enviar" NavLinkRoute="/" />
		</div>
	</EditForm>

</RadzenCard>

@code {
    private readonly ForgotPasswordDto _forgotPasswordModel = new();

	private async Task OnSubmit()
	{
		var resp = await _httpRepo.Post("api/Account/forgotPassword", _forgotPasswordModel);

		if (!resp.Error)
		{
			_navigationManager.NavigateTo("/usuario/forgotPasswordConfirm");
		}
	}
}
