.img-section {
    width: 46%;
    height: 100%;
}

.login-form-section {
    width: 48%;
}

@media only screen and (max-width: 768px) {
    .img-section {
        width: 100%;
        height: 47%;
    }

    .login-form-section {
        width: 83%;
    }
}
