@page "/usuario/resetPasswordConfirm"
@inject IAuthenticationService _authService
@inject NavigationManager _navigationManager

<h2 class="text-radzen-primary">Confirmación restablecer contraseña</h2>

<p class="mt-2">
    Tu contraseña ha sido restablecida.
</p>

<RadzenButton Text="inicia sesión" Click="IniciarSession" />

@code {

    [CascadingParameter]
    public Task<AuthenticationState>? AuthenticationState { get; set; }

    private AuthenticationState? _authState;

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationState is not null)
        {
            _authState = await AuthenticationState;
        }
    }

    private async Task IniciarSession()
    {
        if (_authState!.User.Identity is not null)
        {
            if (_authState.User.Identity.IsAuthenticated)
            {
                await _authService.Logout();
            }
        }
        _navigationManager.NavigateTo("/login");
    }

}
