@page "/pacienteCrear"

<h2 class="text-primary mb-2">Registrar Paciente</h2>

<ErrorBoundary>
   <CascadingValue Value="_isBussy">
      <PacienteForm PacienteRequestDto="_pacienteModel" OnSubmit="CreatePaciente" />
   </CascadingValue>
</ErrorBoundary>