@page "/pacienteEditar/{id}"

<h2 class="text-primary mb-2">Editar Paciente</h2>

@if (_pacienteModel is null)
{
   <CircularLoading />
}
else
{
   <ErrorBoundary>
      <CascadingValue Value="_isBussy">
         <PacienteForm PacienteRequestDto="_pacienteModel" OnSubmit="EditPaciente" />
      </CascadingValue>
   </ErrorBoundary>
}