<div class="rz-bg-dark row justify-content-start align-items-center">
   <div class="col-6 d-flex align-items-center">
      <RadzenSidebarToggle Click="@(async () => await OnToggleClick.InvokeAsync())">
      </RadzenSidebarToggle>
   </div>

   <div class="col-6 d-flex align-items-center justify-content-end">
      <LoginDisplay />
   </div>
</div>

@code {

   [Parameter]
   public EventCallback OnToggleClick { get; set; }

}