@inject IJSRuntime JsRuntime

<div class="rz-bg-dark row justify-content-start align-items-center"
     id="nav-bar">
  <div class="col-6 d-flex align-items-center">
    <RadzenSidebarToggle Click="@ToggleSidebar">
    </RadzenSidebarToggle>
  </div>

  <div class="col-6 d-flex align-items-center justify-content-end">
    <LoginDisplay />
  </div>
</div>

@code {

  [Parameter]
  public EventCallback OnToggleClick { get; set; }

  private async Task ToggleSidebar()
  {
    await OnToggleClick.InvokeAsync();
    await JsRuntime.InvokeVoidAsync("toggleHeaderExpand");
  }
}