<RadzenPanelMenu Style="">
  <div class="d-flex flex-row justify-content-center align-items-center py-3 border-bottom">
    <RadzenText TextStyle="TextStyle.H4" class="text-white" Style="font-size: 32px">Medic Date</RadzenText>
    <div class="ms-3">
      <RadzenIcon Icon="monitor_heart" Style="font-size: 30px;"/>
    </div>
  </div>
  <AuthorizeView>
    <Authorized>
      <RadzenPanelMenuItem Text="Inicio" Icon="home" Path="/"/>
      <RadzenPanelMenuItem Text="Citas" Icon="event_note">
        <RadzenPanelMenuItem Text="Calendario Citas" Path="@_initialCitasReq"
                             Icon="date_range"/>
      </RadzenPanelMenuItem>
      <RadzenPanelMenuItem Text="Pacientes" Icon="personal_injury" Path="pacienteList"/>
      <RadzenPanelMenuItem Text="Doctores" Icon="supervisor_account" Path="medicoList"/>
      <RadzenPanelMenuItem Text="Especialidades" Icon="psychology" Path="especialidadList"/>
      <RadzenPanelMenuItem Text="Actividades" Path="actividadList" Icon="assignment"/>
      <RadzenPanelMenuItem Text="Grupos" Path="grupoList" Icon="groups"/>
      <RadzenPanelMenuItem Text="Administración del Sistema" Icon="settings">
        <AuthorizeView Roles=@($"{Sd.ROLE_ADMIN}")>
          <Authorized Context="authState">
            <RadzenPanelMenuItem Text="Usuarios" Path="usuarioList" Icon="person"/>
          </Authorized>
        </AuthorizeView>
      </RadzenPanelMenuItem>
    </Authorized>
  </AuthorizeView>
</RadzenPanelMenu>

@code {

  [CascadingParameter]
  public Task<AuthenticationState>? AuthenticationState { get; set; }

  private AuthenticationState? _authState;
  private readonly string _initialCitasReq = $"calendarioCitas?{new DateTime(day: 1, month: DateTime.Today.Month, year: DateTime.Today.Year)}&EndDate={new DateTime(day: 1, month: DateTime.Today.Month, year: DateTime.Today.Year).AddMonths(1)}";

  protected override async Task OnInitializedAsync()
  {
    if (AuthenticationState is not null)
    {
      _authState = await AuthenticationState;
    }
  }

}