@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView>
    <Authorized>
        <span class="text-white">Hola, @context.User.Identity?.Name!</span>
        <NavLink href="logout">
            <RadzenButton ButtonStyle="@ButtonStyle.Danger" class="mx-3" Text="Salir" />
        </NavLink>
    </Authorized>
    <NotAuthorized>
        <NavLink class="nav-link" href="login">Iniciar Sesión</NavLink>
    </NotAuthorized>
</AuthorizeView>

@code {

}