@page "/registrar"

<h2 class="text-radzen-secondary">Registrar Usuario</h2>

@if (_showRegisterationErrors)
{
	<div class="alert alert-danger" role="alert">
		@if (Errors is not null && Errors.Count() > 0)
		{
			@foreach (var error in Errors)
			{
				<p>@error</p>
			}
		}
	</div>
}

<RadzenCard>
	<EditForm Model="@_registerRequest" OnValidSubmit="RegisterUser">
		<DataAnnotationsValidator />
		<div class="row mb-3">
			<RadzenLabel Text="Nombre" />
			<div class="mt-1">
				<RadzenTextBox @bind-Value="_registerRequest.Nombre" class="w-100" />
				<ValidationMessage For="() => _registerRequest.Nombre" />
			</div>
		</div>
		<div class="row mb-3">
			<RadzenLabel Text="Apellidos" />
			<div class="mt-1">
				<RadzenTextBox @bind-Value="_registerRequest.Apellidos" class="w-100" />
				<ValidationMessage For="() => _registerRequest.Apellidos" />
			</div>
		</div>
		<div class="row mb-3">
			<RadzenLabel Text="Email" />
			<div class="mt-1">
				<RadzenTextBox @bind-Value="_registerRequest.Email" class="w-100" />
				<ValidationMessage For="() => _registerRequest.Email" />
			</div>
		</div>
		<div class="row mb-3">
			<RadzenLabel Text="Contraseña" />
			<div class="mt-1">
				<RadzenPassword @bind-Value="_registerRequest.Password" class="w-100" />
				<ValidationMessage For="() => _registerRequest.Password" />
			</div>
		</div>
		<div class="row mb-3">
			<RadzenLabel Text="Confirmar Contraseña" />
			<div class="mt-1">
				<RadzenPassword @bind-Value="_registerRequest.ConfirmPassword" class="w-100" />
				<ValidationMessage For="() => _registerRequest.ConfirmPassword" />
			</div>
		</div>
		<div class="mb-2">
			<RadzenButton ButtonType="ButtonType.Submit" Text="Registrar" Icon="person_add" />
		</div>
	</EditForm>
</RadzenCard>