@page "/usuarioCrear"

<h2 class="text-radzen-primary mb-2">Crear Usuario</h2>
<CascadingValue Value="@_isBussy">
	<RegisterUserForm RegisterModel="@_registerModel" OnSubmit="CreateUser"/>
</CascadingValue>
