@inherits LayoutComponentBase

<div class="auth-layout-container">
	<div class="d-flex flex-column flex-lg-row h-100">
		@Body
	</div>
</div>

<RadzenDialog />
<RadzenNotification Style="position: absolute; top: 20px" />
<RadzenContextMenu />
<RadzenTooltip />/>