@inherits LayoutComponentBase

<div class="container-fluid auth-layout-container">
	<div class="row h-100">
		@Body
	</div>
</div>

<RadzenDialog />
<RadzenNotification Style="position: absolute; top: 10px" />
<RadzenContextMenu />
<RadzenTooltip/>