@page "/medicoEditar/{id}"

<h2 class="text-primary mb-2">Editar Doctor</h2>

@if (_medicoModel is null)
{
   <CircularLoading />
}
else
{
   <ErrorBoundary>
      <CascadingValue Value="_isBussy">
         <MedicoForm MedicoRequestDto="_medicoModel" OnSubmit="EditMedico" />
      </CascadingValue>
   </ErrorBoundary>
}