@page "/medicoCrear"

<h2 class="text-primary mb-2">Registrar Doctor</h2>

<ErrorBoundary>
    <CascadingValue Value="_isBussy">
        <MedicoForm MedicoRequestDto="_medicoModel" OnSubmit="CreateMedico" />
    </CascadingValue>
</ErrorBoundary>
