@page "/grupoEditar/{id}"

<h2 class="text-primary mb-2">Editar Grupo</h2>

@if (_grupoModel is null)
{
   <CircularLoading />
}
else
{
   <ErrorBoundary>
      <CascadingValue Value="_isBussy">
         <GrupoForm GrupoModel="@_grupoModel" OnSubmit="@EditGrupo" />
      </CascadingValue>
   </ErrorBoundary>
}