@page "/grupoEditar/{id}"

<h2 class="text-primary mb-2">Editar Grupo</h2>

@if (_grupoModel is null)
{
	<span>Cargando <i class="fas fa-spinner fa-spin"></i></span>
}
else
{
	<CascadingValue Value="_isBussy">
		<GrupoForm GrupoModel="@_grupoModel" OnSubmit="@EditGrupo" />
	</CascadingValue>
}